html
 head
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mediaquery.css">
 body
  div(id='game')
   audio(src='/audio/start.ogg' class='audio' loop id='start')
   audio(src='/audio/main.mp3' class='audio'  loop id='mainSound')
   audio(src='/audio/correct.mp3' class='audio' id='correctSound')
   audio(src='/audio/final.mp3' class='audio' loop id='finalSound')
   audio(src='/audio/wrong.mp3' class='audio' id='wrongSound')
   .canvas(id='bfgame')
    button.btn.btn-primary.play(onclick="canvas()") Play
   

  script.
   var mainSound=document.getElementById('mainSound');
   var correctSound=document.getElementById('correctSound');
   var finalSound=document.getElementById('finalSound');
   var wrongSound=document.getElementById('wrongSound');
   function canvas(){
    var div = document.getElementById('bfgame');
    div.style.display = 'none';
    playAudio(mainSound);
    main();
   }
  
   function playAudio(a){
   a.play();
   }
   
   function pauseAudio(a){
   a.pause();
   }

   function main(){
   var a=['xin chao','benh vien','buu dien','taxi'];
    var game=document.getElementById('game');
    var main = document.createElement('div');
    main.id='main';
    var newList=a.map((x)=>'<li id="'+a.indexOf(x)+'" onclick="clickIt('+a.indexOf(x)+')">'+x+'</li>').join('');
    main.innerHTML = '<h5 class="question">Hello</h5><ul class="list">'+newList + '</ul>';
    game.appendChild(main);
   } 

   function clickIt(x){
   pauseAudio(mainSound);
   playAudio(finalSound);
   var li = document.getElementById(x);
   var lir=document.getElementById("0");
   li.style.backgroundColor = "yellow";
   var test= setInterval(function(){
   if(li.innerHTML==="xin chao"){
   setInterval(function(){
   li.style.backgroundColor = li.style.backgroundColor=="yellow" ? "#16aa16" : "yellow";
   },300)
   
   pauseAudio(finalSound);
   playAudio(correctSound);
   console.log('ok');
   clearInterval(test);
   }
   else{
   setInterval(function(){
   lir.style.backgroundColor="#16aa16"
   li.style.backgroundColor = li.style.backgroundColor=="yellow" ? "red" : "yellow";
   },300)
   pauseAudio(finalSound);
   playAudio(wrongSound);
   clearInterval(test);
   }},5000);

   return ;
   }

  
