extends ./common

block content
 .container-fluid.full-detaSub
  .container.pt-5
     .head-detaSub.mb-5
       h5.text-white=subject.name 
       a.btn.btn-primary(href="/note/"+subject.id class="mb-2 mt-2") Note

     table.full-note
      each news in subject.news
       tr.a-news.mt-2
        td.p-4
         .d-flex
          h6.mb-3.flex-grow-1.text-white= news.title 
          a.mr-4(href="/change?idNews="+news.id+"&idSub="+subject.id)
           i.zmdi.zmdi-brush
          a(href="/delete?idNews="+news.id+"&idSub="+subject.id)
           i.zmdi.zmdi-close.text-danger
         each content in news.content
          p.text-white=content
         a(href=news.link , target="_blank")= news.link
         h6.small.text-danger.font-weight-light.mt-5= "Đăng lúc: " + news.daytime
        tr.break 


 